<form action="/" method="post">
  <label for="input1">Phrase: </label>
  <input type="text" name="input1">
  <label for="input2">Search For: </label>
  <input type="text" name="input2">
  <label for="input3">Replace With: </label>
  <input type="text" name="input3">
  <button type="submit" name="button">Click here</button>
</form>
@if (@Model != "")
{
  <p>Here is your result: @Model</p>
}
